<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>音乐播放界面</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/> 
<script type="text/javascript" th:src="@{js/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<style>
.dw{
	margin-top:15%;
	margin-bottom:15%;
	margin-right:20%;
	margin-left:20%;
}
</style>
</head>
<body>

<div class="dw">
	<div>
		<audio th:src="@{'/music/'+${musicsrc}}" controls="controls"> </audio>
	</div>
	<a th:href="@{/getStusByPage?pageIndex=1&pageSize=5}">返回上一层</a>
</div>
</body>
</html>