<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="pageController">
		<!-- 分页组件 -->
		<!--页面数量小于7情况 -->
		<ul class="pagination"
			th:if="${session.Objects.totalPages} le 7 and  ${session.Objects.totalPages} ge 1">
			<!-- 上一页 -->
			<li class="page-item"
				data-th-classappend="${session.Objects.first} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number}"
					aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>

			<!-- 迭代生成页码 -->
			<li class="page-item"
				data-th-each="i : ${#numbers.sequence(1, session.Objects.totalPages)}"
				data-th-classappend="${(session.Objects.number + 1) eq i} ? 'active' : ''">
				<a class="page-link" data-th-attr="pageIndex=${i}"
					href="javascript:void(0);">
					<span data-th-text="${i}"></span>
				</a>
			</li>

			<!-- 下一页 -->
			<li class="page-item"
				data-th-classappend="${session.Objects.last} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number} + 2" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>

		</ul>


		<!-- 处理页数大于7 的情况 -->
		<ul class="pagination" data-th-if="${session.Objects.totalPages gt 7}">
			<!-- 上一页 -->
			<li class="page-item"
				data-th-classappend="${session.Objects.first} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number}"
					aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>

			<!-- 首页 -->
			<li class="page-item"
				data-th-classappend="${(session.Objects.number + 1) eq 1} ? 'active' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=1">1</a>
			</li>


			<!-- 当前页面小于等于4 -->
			<li class="page-item" data-th-if="${(session.Objects.number + 1) le 4}"
				data-th-each="i : ${#numbers.sequence(2,5)}"
				data-th-classappend="${(session.Objects.number + 1) eq i} ? 'active' : ''">
				<a class="page-link" href="javascript:void(0);"
					data-th-attr="pageIndex=${i}">
					<span data-th-text="${i}"></span>
				</a>
			</li>

			<li class="page-item disabled"
				data-th-if="${(session.Objects.number + 1) le 4}">
				<a href="javascript:void(0);" class="page-link">
					<span aria-hidden="true">...</span>
				</a>
			</li>

			<!-- 最后一页与当前页面之差，小于等于3 -->
			<li class="page-item disabled"
				data-th-if="${(session.Objects.totalPages-(session.Objects.number + 1)) le 3}">
				<a href="javascript:void(0);" class="page-link">
					<span aria-hidden="true">...</span>
				</a>
			</li>
			<li class="page-item"
				data-th-if="${(session.Objects.totalPages-(session.Objects.number + 1)) le 3}"
				data-th-each="i : ${#numbers.sequence(session.Objects.totalPages-4, session.Objects.totalPages-1)}"
				data-th-classappend="${(session.Objects.number + 1) eq i} ? 'active' : ''">
				<a class="page-link" href="javascript:void(0);"
					data-th-attr="pageIndex=${i}">
					<span data-th-text="${i}"></span>
				</a>
			</li>

			<!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->

			<li class="page-item disabled"
				data-th-if="${((session.Objects.number + 1) gt 4) and ((session.Objects.totalPages-(session.Objects.number + 1)) gt 3 )}">
				<a href="javascript:void(0);" class="page-link">
					<span aria-hidden="true">...</span>
				</a>
			</li>
			<li class="page-item"
				data-th-if="${((session.Objects.number + 1) gt 4) and ((session.Objects.totalPages-(session.Objects.number + 1)) gt 3 )}">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number}">
					<span data-th-text="${session.Objects.number}"></span>
				</a>
			</li>
			<li class="page-item active"
				data-th-if="${((session.Objects.number + 1) gt 4) and ((session.Objects.totalPages-(session.Objects.number + 1)) gt 3 )}">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number} ">
					<span data-th-text="${session.Objects.number+1}"></span>
				</a>
			</li>
			<li class="page-item"
				data-th-if="${((session.Objects.number + 1) gt 4) and ((session.Objects.totalPages-(session.Objects.number + 1)) gt 3 )}">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number} + 2">
					<span data-th-text="${session.Objects.number+2}"></span>
				</a>
			</li>

			<li class="page-item disabled"
				data-th-if="${((session.Objects.number + 1) gt 4) and ((session.Objects.totalPages-(session.Objects.number + 1)) gt 3 )}">
				<a href="javascript:void(0);" class="page-link">
					<span aria-hidden="true">...</span>
				</a>
			</li>

			<!-- 最后一页 -->
			<li class="page-item"
				data-th-classappend="${(session.Objects.number + 1) eq session.Objects.totalPages} ? 'active' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.totalPages}">
					<span data-th-text="${session.Objects.totalPages}"></span>
				</a>
			</li>

			<!-- 下一页 -->
			<li class="page-item"
				data-th-classappend="${session.Objects.last} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link"
					data-th-attr="pageIndex=${session.Objects.number} + 2" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>

		<!--分页组件 -->

	</div>
</body>

</html>